*{
    transition: all .5s;
}
.player-o {
    font-size: 2.72rem;
    font-weight: bold;
    background-color: #4392F1;
    color: #fff;
}

.player-x {
    font-size: 2.73rem;
    font-weight: bold;
    background-color: #CD493A;
    color: #fff;
}